body {margin:0;padding:0;background:#e3e3d5;font: 16px 'Signika', Arial, Helvetica, sans;}

.container {min-width:900px; width:100%}

.intro {font-size:20px;margin-bottom:30px;}
.instr {font-size:20px;}

#map {top:0; left:40%; height:100%; width:60%; position:fixed; z-index:2; background:#fff;}
#map_border {top:0; left:40%; height:100%; width:60%; position:fixed; z-index:1; border-left:2px solid #ccb; margin-left:-2px; }

.logo {margin:0 0px 30px 0;max-width:250px}
.logo img {max-width: 100%}

h1, h2, h3 {font-weight:normal !important;}

h1 { font-size:60px; display:inline-block; margin:0; }
h3 { font-size:28px; display:block; margin:0px 0 20px 0}

.inner { padding:30px; max-width:610px; display:block; text-align:left;}

.inputs { padding: 0 10px 20px 0}


.grey { color:#999 }
.grey a { color:#666;text-decoration:underline; }
.grey a:hover {color:#000;}

input:focus {box-shadow:none !important;}


.inputs input.address { background:#fff;border: 2px solid #666; font: 28px 'Signika', Arial, Helvetica, sans; padding:7px; width:100%; display:block; margin-left:-9px; }
.inputs input.address:hover { border-color: #333 }

.inputs button.get-address { background:#9B9B8C;color:#fff;border:0; font: 28px 'Signika', Arial, Helvetica, sans; padding:7px; border-radius:0 0 8px 8px; display:block; width:100%;  }
.inputs button.get-address:hover { background:#887;  }

.coords-instead {margin:30px 0 0 0; font-size: 19px}
.get-coordinates-container { margin:20px 0 0 0; }
.get-coordinates input {background:#fff;border: 2px solid #aaa; font: 20px 'Signika', Arial, Helvetica, sans; padding:7px; width:100%; display:block; margin-left:-9px;}
.get-coordinates input:hover {border: 2px solid #888;}
.get-coordinates .label {text-align:right; font: 20px 'Signika', Arial, Helvetica, sans; padding:7px 10px 7px 0;}
.get-coordinates .row-fluid {margin-bottom:6px;}
.get-coordinates .submit-container {}
.get-coordinates .submit-container button { background:#9B9B8C;color:#fff; font: 20px 'Signika', Arial, Helvetica, sans; padding:7px; border-radius:8px; border: 0; }
.get-coordinates .help { margin:8px 0 20px 0; }

.back-to-address {margin:20px 0 0 0;font-size:20px;}

.content { }

.heading {background: #f0f0e1; /**/background: #eed url(bg1.png) -320px 0 no-repeat; background-size:800px; padding:40px 0 00px 0; text-align:center;border-bottom: 2px solid #ccb;}

.top-powered-by { font: 19px 'Signika', Arial, Helvetica, sans;  margin:0px 0 30px 0px; color:#333; border-bottom:0px dashed #ccb; line-height:0.6; padding:0px 20px 0 10px; border-radius: 0 0 10px 0; background:#fff; position:fixed; box-shadow: 0 0px 8px rgba(0,0,0,.15) }
.top-powered-by a { color:#6af }

.info {background:#fff;padding:20px 30px 20px 20px; color:#000;font-size: 20px; }
.info p {line-height:1.6; margin:0 0 20px 0;}
.info .box { margin-bottom:30px; }

.location-data {margin-bottom:10px;}
.location-data .box {display:inline-block;vertical-align: top}
.location-data .coordinates {margin-right:40px;}

.share { background:#fff; color:#999; font-size:20px; padding:10px 20px;}


.none {display:inline-block;padding:4px 8px;margin:0 0 0 -4px;background:#ffb;border: 1px solid #ddc;}

.consult { border: 2px dashed #ccc; padding:20px;line-height:1.5; margin:30px -22px 0 -22px !important;}

.channels-container {margin:0 -21px 40px -21px; padding:20px 20px 20px 20px; background:#f0f0f0; border:3px solid #ddd}
.available h3 {font-size:32px;margin:0 0 20px 0; color:#000}
div.av_loading {height:40px;padding:20px 0 0 10px}
div.available .data { margin: 0px 0 20px 0; color:#666}
div.channel-open {color:#393;font-size:22px;white-space: nowrap}

.second-adjacents {margin:0 0 0px 0}
.second-adjacents h3 {font-size:22px;margin:0 0 20px 0; color:#000}
.second-adjacents .data {margin:0 0 20px 0;color:#777;}
div.channel-second-adjacent {white-space: nowrap}

.tools {margin:0 0 40px 0}

span.label {display:inline-block;padding:4px; margin:0 10px 10px 0;}
span.label-available {}
span.label-2nd-adj {}

.help {font-size:16px; color:#999;margin:10px 0 0 0;}
.code {font-size:16px; color:#000; margin:0 4px; white-space: nowrap; background:#fff; border: 1px solid #ccc; padding:4px 6px;}

.footer {display:none; background:#eee; color:#555; line-height:1.6; padding:10px 20px; border-top:2px solid #ccc; border-bottom:2px solid #ccc; }
.footer p {font-weight:normal; font-size:20px;}
.footer a { color:#6af }
.footer h3 {color:#fff;font-size:20px;}

.consult, .tools, .consult h3, .consult p {font-weight:normal; font-size:28px !important;}

